@page
@model IndexModel

<main>
    <section id="matchmaking" class="center">
        <section style="text-align: center; padding:1px">
            <img src="images/Logo.png" class="mb-5"/>
        </section>
        <section style="text-align:center; padding:1px" class="mt-5">
            <div class="d-flex justify-content-center mb-4">
                <input type="text" class="form-control shadow-none" placeholder="Enter your name">
            </div>
            <div class="d-flex justify-content-center">
                <input type="text" class="form-control shadow-none" placeholder="Enter your friend's code*">
            </div>
            <div class="d-flex justify-content-center mb-5">
                <label>*optional: leave blank for automatic matchmaking</label>
            </div> 
            <a id="findGameBtn" class="btn btn-primary mt-5">Find game &raquo;</a>

            <div class="d-flex justify-content-end me-5">
                <div style="flex-direction: column; display:flex">
                    <img src="images/play_with_friend.png" />
                    <a id="findGameBtn" class="btn btn-primary mt-3">
                        90210
                        <img src="images/copy_icon.png" class="ms-3" style="text-align:right"/>
                    </a>
                </div>
            </div>
        </section>
    </section>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.0/signalr.min.js"></script>
<script>
    // create the SignalR connection
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/gamehub")
        .build();

    function startConnection() {
        connection.start()
            .then(() => {
                console.log("SignalR connected");

                // room connection test
                const roomCode = "room1";
                connection.invoke("JoinRoom", roomCode).catch(err => console.error(err));
            })
            .catch(err => console.error("Error while starting SignalR connection: " + err));
    }

    document.getElementById("findGameBtn").addEventListener("click", function() {
        startConnection();
    });

    // listen for moves
    connection.on("ReceiveMove", function(playerMove) {
        console.log("move received: " + playerMove);
    });
</script>
