<main>
    <section class="row" aria-labelledby="aspnetTitle">

        <h1 class="display-4 mb-3" id="aspnetTitle">Rock Paper Scissors 2v2</h1>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <input type="text" class="form-control mb-3" placeholder="Enter your name" >
            <input type="text" class="form-control mb-3" placeholder="Enter your friend's name">
            <a class="btn btn-outline-dark">Find game &raquo;</a>
        </section>
    </div>
</main>