/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

input::placeholder {
    color: #ffffff5e !important;
    font-size: 22px;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type="text"],
select,
textarea {
    max-width: 50% !important;
    background-color: #59518B !important;
    color: white !important;
    padding: 10px 10px !important;
    line-height: 20px !important;
    font-size: 22px !important;
    border-color: white !important;
    border-width: 2px !important;
}

.btn-primary {
    color: #fff;
    background-color: #59518B;
    border-color: white;
    border-width: 2px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-primary:hover
 {
    color: #fff;
    background-color: #7E73C4;
    border-color: white;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active:focus {
    color: #fff !important;
    background-color: #2B2656 !important;
    border-color: white !important;
}